@model RegistaMaster.Domain.DTOModels.Entities.RequestModel.RequestDTO
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h5>Create</h5>

<div class="main content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-content collapse show">
                    <div class="heading-elements">
                        <div class="row col-md-2" style="position:absolute; right:15px; margin:15px;">
                            <button type="button" onclick="SaveRequest()" class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Yeni Talep Oluştur</h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Bildirim Türü:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select asp-for="NotificationTypeID" asp-items="@Model.NotificationType" id="NotificationTypeID" class="form-control select2" name="NotificationTypeID">
                                                <option selected="selected" disabled value="-1">Lütfen Seçiniz</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Kategori:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select asp-for="CategoryID" asp-items="@Model.Category" id="CategoryID" class="form-control select2" name="CategoryID">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Proje:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select asp-for="ProjectID" onchange="GetModuleList()" asp-items="@Model.Project" id="ProjectID" class="form-control select2" name="ProjectID">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Modül:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select asp-for="ModuleID" asp-items="@Model.Module" id="ModuleID" class="form-control select2" name="ModuleID">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Versiyon:</label>
                                        <div class="col-md-9">
                                            <select asp-for="VersionID" asp-items="@Model.Version" id="VersionID" class="form-control select2" name="VersionID">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Konu:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input asp-for="RequestSubject" type="text" required class="form-control" name="Category" />
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Açıklama:<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input asp-for="Description" type="text" required class="form-control" name="Description" />
                                            <h1></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Sayfa Linki:</label>
                                        <div class="col-md-9">
                                            <input asp-for="PageUrl" type="text" required class="form-control" name="PageUrl" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/js/Page/Request/RequestCreate.js"></script>
}