@model RegistaMaster.Domain.DTOModels.Entities.RequestModel.RequestDTO

@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
   var user = session.GetUser();
}
<input type="hidden" id="userID" value="@user.ID" />
<input type="hidden" id="auth" value="@Convert.ToInt32(user.Authorization)" />
<input type="hidden" id="detail" />

<h3>Index</h3>

<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />
<link href="~/Modernize/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet" />
<link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />

<style type="text/css">

   .modal-body2 {
      max-height: calc(100vh - 210px);
      overflow-y: auto;
   }

   .target {
      border: solid 1px #aaa;
      min-height: 200px;
      width: 90%;
      margin-top: 1em;
      border-radius: 5px;
      cursor: pointer;
      transition: 300ms all;
      position: relative;
   }

   .contain {
      background-size: cover;
      position: relative;
      z-index: 10;
      top: 0px;
      left: 0px;
   }

   textarea {
      background-color: white;
   }

   .actives {
      box-shadow: 0px 0px 10px 10px rgba(0,0,255,.4);
   }
</style>

<div class="main-content">
   <div class="row">
      <div class="col-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
         <div class="card card-primary">
            <div class="card-header">
            </div>
            <div class="card-content collapse show">
               <div class="heading-elements">
                  @* <div class="row col-md-2" style="position:absolute; right:15px; margin:15px;">
                  <a asp-action="Create" asp-controller="Request" class="btn btn-primary"><i class="ion ion-android-add"></i>Yeni Talep Oluştur</a>
                  </div> *@
               </div>
               <div class="card-body card-dashboard">
                  <h3>Talepler</h3>
                  <div class="demo-container">
                     <div id="requestGridContainer"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
@* Resim Yapıştırma Modalı *@
<div class="modal fade" id="m_modal_Image_Paste" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Resim Yapıştır</h3>
         </div>
         <hr />
         <div class="modal-body">
            <div class="form-group row">
               <label class="col-md-4 label-control">Görüntü<br /> <span class="text-black-50">(WINDOWS Kullanıcıları İçin, Windows + Shift + S Tuş Kombinasyonu veya PRTSC Tuşu İle Resminizi Kopyalayıp (CTRL+C / CTRL+V) Yapıştırabilirsiniz. MAC Kullanıcıları İçin Shift + Command + 4 Tuş Kombinasyonu İle Yapabilir)</span></label>
               <div class="col-md-8">
                  <div class="span4 target"></div>

               </div>
               <textarea name="base64" hidden id="base64" cols="30" rows="10" class="data span12"></textarea>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark" onclick="closeImageModal()" data-dismiss="modal">Kapat</button>
            <button type="button" onclick="SuccessRequestImage()" class="btn btn-success">Tamam</button>
         </div>
      </div>
   </div>
</div>

@* Yeni Talep Ekleme Modalı *@
<div class="modal fade" id="RequestCreateModal" tabindex="-1" role="dialog" aria-labelledby="büyükModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="büyükModalLabel">Yeni Talep Ekle</h3>
        <button type="button" class="btn-close" onclick="closeRequestModal()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body" id="clearModal">
            <form>
               <div class="row">
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Bildirim Türü:</label>
                     <select asp-for="NotificationTypeID" asp-items="@Model.NotificationType" id="NotificationTypeID" class="form-control select2" name="NotificationTypeID">
                        <option selected="selected" disabled value="-1">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>

                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Kategori:</label>
                     <select asp-for="CategoryID" asp-items="@Model.Category" id="CategoryID" class="form-control select2" name="CategoryID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Proje:<span class="text-danger">*</span></label>
                     <select asp-for="ProjectID" onchange="GetSelectList()" asp-items="@Model.Project" id="ProjectID" class="form-control select2" name="ProjectID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>

                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Modül<span class="text-danger">*</span></label>
                     <select asp-for="ModuleID" id="ModuleID" class="form-control select2" name="ModuleID"></select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Versiyon:<span class="text-danger">*</span></label>
                     <select asp-for="VersionID" id="VersionID" class="form-control select2" name="VersionID"></select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Konu:<span class="text-danger">*</span></label>
                     <input asp-for="RequestSubject" type="text" required class="form-control" name="Category" />
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Sayfa Linki:</label>
                     <input asp-for="PageUrl" type="text" required class="form-control" name="PageUrl" />
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Açıklama:<span class="text-danger">*</span></label>
                     <textarea asp-for="Description" type="text" required class="form-control" name="Description"></textarea>
                     <h1></h1>
                     <button type="button" onclick="OpenImageModal()" style="position:absolute;right:190px;margin-top: 32px;" class="btn btn-secondary">Resim Ekle</button>

                  </div>

               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="closeRequestModal()" class="btn btn-dark">Kapat</button>
            <button type="button" onclick="SaveRequestModal()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>

@* Talep Düzenleme Modalı *@
<div class="modal fade" id="RequestEditModal" tabindex="-1" role="dialog" aria-labelledby="büyükModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="büyükModalLabel">Talep Düzenle</h3>
        <button type="button" class="btn-close" onclick="closeEditRequestModal()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <form>
               <div class="row">
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Bildirim Türü:</label>
                     <select asp-for="NotificationTypeID" asp-items="@Model.NotificationType" id="NotificationEditTypeID" class="form-control select2" name="NotificationTypeID">
                        <option selected="selected" disabled value="-1">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>

                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Kategori:</label>
                     <select asp-for="CategoryID" asp-items="@Model.Category" id="CategoryEditID" class="form-control select2" name="CategoryID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Proje:</label>
                     <select asp-for="ProjectID" onchange="GetSelectListEdit()" asp-items="@Model.Project" id="ProjectEditID" class="form-control select2" name="ProjectID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>

                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Modül:</label>
                     <select asp-for="ModuleID" id="ModuleEditID" class="form-control select2" name="ModuleID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Versiyon:</label>
                     <select asp-for="VersionID" id="VersionEditID" class="form-control select2" name="VersionID">
                        <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                     </select>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Konu:</label>
                     <input asp-for="RequestSubject" type="text" id="RequestEditSubject" required class="form-control" name="Category" />
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Sayfa Linki:</label>
                     <input asp-for="PageUrl" type="text" id="PageEditUrl" required class="form-control" name="PageUrl" />
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Açıklama:</label>
                     <textarea asp-for="Description" type="text" id="DescriptionEdit" required class="form-control" name="Description"></textarea>
                     <h1></h1>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Görüntü:</label>
                     <div class="card-img-container">
                        <img id="RequestImage" class="image-popup" style="height:250px; width:250px;" src="@Model.PictureURL">
                     </div>
                  </div>
               </div>
               <div id="ID" hidden></div>
               <div id="LastModifiedBy" hidden></div>
               <div id="CustomerID" hidden></div>
               <div id="CreatedOn" hidden></div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="closeEditRequestModal()" class="btn btn-dark">Kapat</button>
            <button type="button" onclick="SaveRequestEditModal()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>

@* Talep Detay Modalı *@
<div class="modal fade" id="RequestDetailModal" tabindex="-1" role="dialog" aria-labelledby="RequestDetailModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="RequestDetailModalLabel">Talep Detayı</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseModal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <form>
               <div class="row">
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Bildirim Türü:</label>
                     <select asp-for="NotificationTypeID" asp-items="@Model.NotificationType" id="detailNotificationTypeID" class="form-control mt-2" disabled name="NotificationTypeID"></select>
                  </div>
                  <div class="form-group col-md-6">
                     <label style="font-weight:bold;">Kategori:</label>
                     <select asp-for="CategoryID" asp-items="@Model.Category" id="detailCategoryID" class="form-control mt-2" disabled name="CategoryID"></select>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                     <label style="font-weight:bold;">Proje:</label>
                     <select asp-for="ProjectID" onchange="GetSelectListEdit()" asp-items="@Model.Project" id="detailProjectID" class="form-control mt-2" disabled name="ProjectID"></select>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                     <label style="font-weight:bold;">Modül:</label>
                     <select asp-for="ModuleID" id="detailModuleID" class="form-control mt-2" disabled name="ModuleID"></select>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                     <label style="font-weight:bold;">Versiyon:</label>
                     <select asp-for="VersionID" id="detailVersionID" class="form-control mt-2" disabled name="VersionID"></select>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                     <label style="font-weight:bold;">Sayfa Linki:</label>
                     <input asp-for="PageUrl" type="text" id="detailPageUrl" readonly class="form-control mt-2" name="PageUrl" />
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Açılma Tarihi:</label>
                     <input class="form-control mt-2" readonly id="detailOpeningDate" />
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Tamamlanma Tarihi:</label>
                     <input class="form-control mt-2" readonly id="detailEndDate" />
                  </div>
                  <div class="form-group col-md-12 mt-3">
                     <label style="font-weight:bold;">Konu:</label>
                     <input asp-for="RequestSubject" type="text" id="detailRequestSubject" readonly class="form-control mt-2" name="Category" />
                  </div>
                  <div class="form-group col-md-12 mt-3">
                     <label style="font-weight:bold;">Açıklama:</label>
                     <textarea asp-for="Description" type="text" id="detailDescription" readonly class="form-control mt-2" rows="5" name="Description"></textarea>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                     <label style="font-weight:bold;">Görüntü:</label>
                     <div class="card-img-container mt-2">
                        <img id="detailRequestImage" class="image-popup" style="height:250px; width:250px;" src="@Model.PictureURL">
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-dark">Kapat</button>
         </div>
      </div>
   </div>
</div>
@* Aksiyon Durumu Güncelleme *@
<div class="modal fade" id="changeActionStatus" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header mt-3">
            <h3 class="modal-title" id="exampleModalLabel">Değiştirmek İstediğiniz Durumu Seçiniz</h3>
            <button type="button" class="btn-close" onclick="CloseChangeStatusModal()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <input hidden id="actionID" />
            <div class="row mb-3 justify-content-md-center">
               <input type="hidden" id="actionStatusValue" />
               <div class="col-md-2">
                  <input type="checkbox" class="btn-check" id="btn-check-1" data-value="0" autocomplete="off">
                  <label class="btn btn-primary btn-lg" for="btn-check-1">Başlamadı</label>
               </div>
               <div class="col-md-2">
                  <input type="checkbox" class="btn-check" id="btn-check-2" data-value="1" autocomplete="off">
                  <label class="btn btn-primary btn-lg" for="btn-check-2">Devam Ediyor</label>
               </div>
               <div class="col-md-2">
                  <input type="checkbox" class="btn-check" id="btn-check-3" data-value="2" autocomplete="off">
                  <label class="btn btn-primary btn-lg" for="btn-check-3">Tamamlandı</label>
               </div>
               <div class="col-md-2">
                  <input type="checkbox" class="btn-check" id="btn-check-4" data-value="3" autocomplete="off">
                  <label class="btn btn-primary btn-lg" for="btn-check-4">İptal/Reddedildi</label>
               </div>
            </div>
            <div class="row mt-5">
               <div class="col-md-6">
                  <label style="font-weight:bold; font-size:1.2rem;">Aksiyon Başlangıç Tarihi</label>
                  <input class="form-control mt-2" type="date" id="actionStatusOpeningDate" />
               </div>
               <div class="col-md-6">
                  <label style="font-weight:bold;font-size:1.2rem;">Aksiyon Bitiş Tarihi</label>
                  <input class="form-control mt-2" type="date" id="actionStatusEndDate" />
               </div>
            </div>
            <h5 class="modal-title mt-5" style="font-size:1.4rem;" id="exampleModalLabel">Notlar</h5>
            <hr />
            <div class="row mt-3">
               <div class="demo-container">
                  <div id="actionNotesGridContainer"></div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="CloseChangeStatusModal()" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <button type="button" onclick="ChangeActionStatus()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>

@* Aksiyon Notu Ekleme *@
<div class="modal fade" id="actionNoteAddModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header mt-3">
            <h3 class="modal-title" id="exampleModalLabel">Not Ekle</h3>
            <button type="button" class="btn-close" onclick="closeModalActionNote()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <input hidden id="actionID">
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteTitle" style="font-size:1.2rem;" class="form-label">Başlık</label>
                  <input type="text" style="font-size:1rem;" class="form-control" id="actionNoteTitle">
               </div>
            </div>
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteDescription" style="font-size:1.2rem;" class="form-label">İçerik</label>
                  <textarea style="font-size:1rem;" class="form-control" id="actionNoteDescription" rows="10"></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="closeModalActionNote()" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            <button type="button" onclick="ActionNoteSave()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>

@* Aksiyon Notu Düzenleme *@
<div class="modal fade" id="actionNoteEditModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header mt-3">
            <h3 class="modal-title" id="exampleModalLabel">Not Düzenle</h3>
            <button type="button" class="btn-close" onclick="closeModalActionEditNote()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <input hidden id="EditactionID">
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteEditTitle" style="font-size:1.2rem;" class="form-label">Başlık</label>
                  <input type="text" style="font-size:1rem;" class="form-control" id="actionNoteEditTitle">
               </div>
            </div>
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteEditDescription" style="font-size:1.2rem;" class="form-label">İçerik</label>
                  <textarea style="font-size:1rem;" class="form-control" id="actionNoteEditDescription" rows="10"></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="closeModalActionEditNote()" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            <button type="button" onclick="ActionNoteEditSave()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>


@* Aksiyon Notu Görüntüleme *@
<div class="modal fade" id="actionNoteDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header mt-3">
            <h3 class="modal-title" id="exampleModalLabel">Not Detayı</h3>
            <button type="button" class="btn-close" onclick="closeModalActionDetailNote()" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <input hidden id="DetailactionID">
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteDetailTitle" style="font-size:1.2rem;" class="form-label">Başlık</label>
                  <input type="text" style="font-size:1rem;" class="form-control" id="actionNoteDetailTitle">
               </div>
            </div>
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteDetailDescription" style="font-size:1.2rem;" class="form-label">İçerik</label>
                  <textarea style="font-size:1rem;" class="form-control" id="actionNoteDetailDescription" rows="10"></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="closeModalActionDetailNote()" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
         </div>
      </div>
   </div>
</div>


<!--Edit Action Modal-->
<div class="modal fade" id="EditAction" aria-labelledby="EditActionLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content" id="clear">
         <div class="modal-header">
            <h3 class="modal-title" id="EditActionLabel">Aksiyon Düzenle</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseModal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <form>
               <div class="row">
                  <input class="form-control" type="hidden" id="editActionID" />
                  <div class="col-6">
                     <label style="font-weight:bold;">Başlangıç Tarihi</label>
                     <input class="form-control mt-2" type="date" id="actionEditOpeningDate" />
                  </div>
                  <div class="col-6">
                     <label style="font-weight:bold;">Bitiş Tarihi</label>
                     <input class="form-control mt-2" type="date" id="actionEditEndDate" />
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Öncelik Durumu</label>
                     <select class="form-select mt-2" asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.ActionPriorityStatus>()" id="actionEditActionPriority"></select>
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Sorumlu Kişi</label>
                     <select class="form-select mt-2" asp-items="@Model.Responsible" id="actionEditResponsible"></select>
                  </div>
                  <div class="col-12 mt-3">
                     <label style="font-weight:bold;">Konu</label>
                     <input class="form-control mt-2" id="editActionActionDescription" />
                  </div>
                  <div class="col-12 mt-3">
                     <label style="font-weight:bold;">Açıklama</label>
                     <textarea class="form-control mt-2" id="actionEditDescription" rows="3"></textarea>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Kapat</button>
            <button type="button" onclick="SaveActionUpdate()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>

<!--Aksiyon İptal/Reddedildi  modal-->
<div class="modal fade" id="CancelModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header mt-3">
            <h3 class="modal-title" id="exampleModalLabel">İptal/Reddedildi</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="CancelModalClose()" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <input hidden id="actionID">
            <div class="row mt-3 justify-content-md-center">
               <div class="col-md-11">
                  <label for="actionNoteDescription" style="font-size:1.2rem;" class="form-label">İptal/Reddedildi Nedeni</label>
                  <textarea style="font-size:1rem;" class="form-control mb-2" id="CancelNoteDescription" rows="10"></textarea>
                  <span id="checkText" class="text-danger h5"></span>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="CancelModalClose()" class="btn btn-secondary">Kapat</button>
            <button type="button" onclick="CancelModalSave()" class="btn btn-primary">Kaydet</button>
         </div>
      </div>
   </div>
</div>


<!--Aksiyon Ayrıntıları Modal-->
<div class="modal fade" id="DetailAction" aria-labelledby="DetailActionLabel" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content" id="clear">
         <div class="modal-header">
            <h3 class="modal-title" id="DetailActionLabel">Aksiyon Detayı</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseModal" aria-label="Close"></button>
         </div>
         <hr />
         <div class="modal-body">
            <form>
               <div class="row">
                  <div class="col-4">
                     <label style="font-weight:bold;">Sorumlu Kişi</label>
                     <select class="form-control mt-2" disabled asp-items="@Model.Responsible" id="actionDetailResponsible"></select>
                  </div>
                  <div class="col-4">
                     <label style="font-weight:bold;">Öncelik Durumu</label>
                     <select class="form-control mt-2" disabled asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.ActionPriorityStatus>()" id="actionDetailActionPriority"></select>
                  </div>
                  <div class="col-4">
                     <label style="font-weight:bold;">Durum</label>
                     <select id="actionDetailStatus" disabled asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.ActionStatus>()" class="form-control mt-2"></select>
                  </div>
                  <div class="col-4 mt-3">
                     <label style="font-weight:bold;">Konu</label>
                     <input class="form-control mt-2" readonly id="actionDetailActionDescription" />
                  </div>
                  <div class="col-4 mt-3">
                     <label style="font-weight:bold;">Başlangıç Tarihi:</label>
                     <input class="form-control mt-2" readonly id="actionDetailOpeningDate" />
                  </div>
                  <div class="col-4 mt-3">
                     <label style="font-weight:bold;">Bitiş Tarihi</label>
                     <input class="form-control mt-2" readonly id="actionDetailEndDate" />
                  </div>
                  <div class="col-12 mt-3">
                     <label style="font-weight:bold;">Açıklama</label>
                     <textarea class="form-control mt-2" readonly id="actionDetailDescription" rows="6"></textarea>
                  </div>
               </div>
            </form>
            <div class="row" style="padding-left:10px;padding-right:10px">
               <h3 class="modal-title mt-5" style="padding-left:20px">Notlar</h3>
               <hr />
               <div class="col-12">
                  <div id="actionNotesGridContainer"></div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Kapat</button>
         </div>
      </div>
   </div>
</div>

@section Scripts
{
   <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

   <script src="~/js/Page/Request/Index.js"></script>


}